{% extends '@SourceBansCore/layout.html.twig' %}

{% set pageTitle = 'controllers.servers.admins.title' | trans %}

{% block title %}{{ pageTitle }} « {{ parent() }}{% endblock %}

{% block body %}
    {% embed '@SourceBansCore/Admin/layout.html.twig' %}
        {% block content %}
            <div class="panel">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-6">{{ 'Name' | trans }}</th>
                                <th class="col-sm-6">{{ 'Identity' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for admin in admins %}
                            <tr>
                                <td>{{ admin.name }}</td>
                                <td>{{ admin.identity }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
