{% extends '@SourceBansCore/layout.html.twig' %}

{% set pageTitle = 'controllers.default.servers.title' | trans %}

{% block title %}{{ pageTitle }} « {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body">
                        <table class="table table-hover js-servers">
                            <thead>
                                <tr>
                                    <th class="icon">&nbsp;</th>
                                    <th>{{ 'Hostname' | trans }}</th>
                                    <th width="5%">{{ 'Players' | trans }}</th>
                                    <th width="10%">{{ 'Map' | trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for server in servers %}
                                <tr data-server-id="{{ server.id }}">
                                    <td class="icon"><img alt="{{ server.game }}" src="{{ app.request.basePath }}/images/games/{{ server.game.icon }}" /></td>
                                    <td class="js-server-hostname">{{ server }}</td>
                                    <td class="js-server-players">{{ 'N/A' | trans }}</td>
                                    <td class="js-server-map">{{ 'N/A' | trans }}</td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="4">{{ 'No results' | trans }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ pagerfanta(servers, 'twitter_bootstrap3', {
                            'css_container_class': 'pagination pull-right',
                            'next_message': '&raquo;',
                            'prev_message': '&laquo;',
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        require(['server_list'], function (serverList) {
            serverList('.js-servers', '{{ path('sourcebans_core_servers_info', {'id': '__ID__'}) }}', '{{ 'N/A' | trans }}');
        });
    </script>
{% endblock %}
