{% extends '@SourceBansCore/layout.html.twig' %}

{% form_theme form '@SourceBansCore/form_horizontal_layout.html.twig' %}

{% set pageTitle = 'controllers.default.account.title' | trans %}

{% block title %}{{ pageTitle }} « {{ parent() }}{% endblock %}

{% block body %}
    {% embed '@SourceBansCore/Account/layout.html.twig' %}
        {% block content %}
            <div class="panel">
                <div class="panel-body">
                    {{ form_start(form) }}
                        {{ form_row(form.currentEmail) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.submit) }}
                    {{ form_end(form) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
