{% extends '@SourceBansCore/layout.html.twig' %}

{% form_theme form '@SourceBansCore/form_horizontal_layout.html.twig' %}

{% set pageTitle = 'controllers.default.lostPassword.title' | trans %}

{% block title %}{{ pageTitle }} « {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel">
                    <div class="panel-body">
                        {{ form_start(form) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.submit, {'attr': {'class': 'btn-warning'}}) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
