{% extends '@SourceBansCore/layout.html.twig' %}

{% form_theme form '@SourceBansCore/form_horizontal_layout.html.twig' %}

{% set pageTitle = 'controllers.default.account.title' | trans %}

{% block title %}{{ pageTitle }} « {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {{ knp_menu_render('SourceBansCoreBundle:Builder:accountMenu') }}
            </div>
            <div class="col-lg-9">
                {{ form_start(form) }}
                    {{ form_row(form.language) }}
                    {{ form_row(form.theme) }}
                    {{ form_row(form.timezone) }}
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
