{% extends '@SourceBansCore/layout.html.twig' %}

{% set pageTitle = 'controllers.admin.bans.menu.appeals' | trans %}

{% block title %}{{ pageTitle }} « {{ parent() }}{% endblock %}

{% block body %}
    {% embed '@SourceBansCore/Admin/layout.html.twig' %}
        {% block content %}
            <div class="panel">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="50%">{{ 'Name' | trans }}</th>
                                <th width="50%">{{ 'Identity' | trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for appeal in appeals %}
                            <tr>
                                <td>
                                    {% if appeal.ban.name %}
                                        {{ appeal.ban.name }}
                                    {% else %}
                                        <em class="text-muted">{{ 'Unknown' | trans }}</em>
                                    {% endif %}
                                </td>
                                <td>{{ appeal.ban }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="2">{{ 'No results' | trans }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {{ pagerfanta(appeals, 'twitter_bootstrap3', {
                        'css_container_class': 'pagination pull-right',
                        'next_message': '&raquo;',
                        'prev_message': '&laquo;',
                    }) }}
                </div>
            </div>
        {% endblock %}

        {% block sidebar %}
            {% include '@SourceBansCore/Admin/Bans/partials/sidebar.html.twig' %}
        {% endblock %}
    {% endembed %}
{% endblock %}
